language: ruby
matrix:
  allow_failures:
    - rvm: jruby-18mode
    - rvm: jruby-19mode
    - rvm: rbx-18mode
    - rvm: rbx-19mode
    - rvm: 1.9.2
    - rvm: ree
    - rvm: 1.8.7
rvm: 
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 1.8.7
  - ree
  - rbx-18mode
  - rbx-19mode
  - jruby-18mode
  - jruby-19mode
